# BACKEND RENDER ENV VARS
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
DB_NAME=dockavach_db
JWT_SECRET=<32_char_random_secret>
JWT_EXP_HOURS=24
HOST=0.0.0.0
FLASK_DEBUG=false
MAX_CONTENT_LENGTH=16777216
FRONTEND_ORIGIN=https://<your-frontend-project-name>.onrender.com

# FRONTEND RENDER ENV VARS
NEXT_PUBLIC_API_URL=https://<your-backend-project-name>.onrender.com/api
